In [18]:
a = "Hi, My name is shubham currently i am learning  'python'"
print(a)

Hi, My name is shubham currently i am learning  'python'

In [19]:
b = 'this is Shubham\'s Pen'
print(b)

this is Shubham's Pen

In [22]:
a,b

("Hi, My name is shubham currently i am learning  'python'",
 "this is Shubham's Pen")

In [24]:
# string string concatenation

a = a + b
print(a)

Hi, My name is shubham currently i am learning  'python'this is Shubham's Penthis is Shubham's Pen

In [33]:
# split
a = "this is a str"
print(a.split())

['this', 'is', 'a', 'str']

In [35]:
# replace

print(a.replace("is","are"))

thare are a str

In [43]:
print(a.find('s is'))          # return first occurence starting char index
print(a.find('isis'))

3
-1

In [45]:
a.lower()

'this is a str'

In [48]:
a.upper()

'THIS IS A STR'

In [50]:
a.islower()

True

In [51]:
a.islower()

True

In [54]:
a.isalpha()          # return false because string is not made up of alphabates only it's incldue spaces also

False

In [55]:
a.startswith("str")

False

In [59]:
a.startswith("th")

True

In [61]:
# assignment
s = "abcd"
s.upper() 
print(s)        # output -> abcd not ABCD

abcd

In [63]:
# assignment
s = "abcd"
s = s.upper() 
print(s)        # output -> ABCD

ABCD